div {
    padding: 20px;
    /* border: 1px solid #2dd627; */
    width: 800px;
    margin: 0 auto;
  }

  span {
    width: 120px;
    text-align: right;
    display: inline-block;
  }

  textarea,
  input {
    width: 500px;
  }

  button {
    margin-left: 20px;
  }

  .fl {
    float: left
  }

  .label {
    width: 120px;
  }

  .replace {
    overflow: hidden;
  }

  .input {
    width: 400px;
    margin-bottom: 10px;
  }

  .replace_input {
    width: 500px;
  }

  .label {
    padding: 0;
  }

  .inputContainer {
    width: 400px;
  }